name: Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install selenium pytest pytest-html

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Run Selenium Tests
        run: |
          pytest tests/ --html=report.html

      - name: Upload Test Report and Screenshots
        uses: actions/upload-artifact@v4
        with:
          name: selenium-report
          path: |
            report.html
            
            screenshots

            screenshots

