name: Selenium Login Test

on:
  push:
    branches: feature/selenium-login-ci
  # pull_request:
  #   branches: [main]

jobs:
  login-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print GitHub Runner IP
        run: |
          echo "=============================="
          echo "GITHUB RUNNER PUBLIC IP BELOW"
          echo "=============================="
          curl -s https://api.ipify.org
          echo ""
          echo "=============================="

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install Python dependencies
        run: |
          pip install selenium webdriver-manager

      - name: Run Selenium Login Test
        env:
          APP_URL: ${{ secrets.APP_URL }}
        run: |
          python "selenium test(product)/test_login.py"

