name: Selenium Login Test

on:
  push:
    branches:
      - feature/selenium-login-ci

jobs:
  login-test:
    runs-on: ubuntu-latest

    steps:

      # ------------------------------
      # 1. Checkout Repository
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # ------------------------------
      # 2. Get GitHub Runner Public IP
      # ------------------------------
      - name: Get GitHub Runner IP
        run: |
          IP=$(curl -s https://api.ipify.org)
          echo "RUNNER_IP=$IP" >> $GITHUB_ENV
          echo "GitHub Runner IP: $IP"

      # ------------------------------
      # 3. Authenticate to GCP
      # ------------------------------
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set GCP Project
        run: |
          gcloud config set project ${{ secrets.GCP_PROJECT_ID }}

      # ------------------------------
      # 4. Add Runner IP to Firewall
      # ------------------------------
      - name: Create & Allow GitHub Runner in Firewall
        run: |
          echo "Creating selenium-test-firewall and allowing ${RUNNER_IP}"
      
          gcloud compute firewall-rules create selenium-test-firewall \
            --direction=INGRESS \
            --priority=1000 \
            --network=default \
            --action=ALLOW \
            --rules=tcp:3000 \
            --source-ranges=${RUNNER_IP}/32 \
            --description="GitHub Selenium temporary access" \
            --quiet || true


      # ------------------------------
      # 5. Setup Selenium Environment
      # ------------------------------
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install Python dependencies
        run: |
          pip install selenium webdriver-manager

      # ------------------------------
      # 6. Run Selenium Login Test
      # ------------------------------
      - name: Debug App URL
        run: |
          echo "APP_URL is: ${{ secrets.APP_URL }}"

      
      - name: Run Login Test
        env:
          APP_URL: ${{ secrets.APP_URL }}
          TEST_EMAIL: ${{ secrets.TEST_EMAIL }}
          TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
        run: |
          python "selenium test(product)/test_login.py"

      # ------------------------------
      # 7. Remove Runner IP from Firewall (Always)
      # ------------------------------
      - name: Remove GitHub Runner IP from Firewall
        if: always()
        run: |
          gcloud compute firewall-rules update selenium-test-firewall \
            --source-ranges=""
